body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #e8eaed;
    background-color: #28292a;
}

.hidden {
    display: none;
}

.result {
    border: 1px solid #e8eaed;
    width: 800px;
    padding: 6px;
    border-radius: 4px;
}

a {
    color: #e8eaed;
}